/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body and container styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f7fc;
  color: #333;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.sidebar {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 200px;
}

.sidebar h2 {
  font-size: 24px;
  margin-bottom: 30px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 20px;
  font-size: 16px;
}

.sidebar .active {
  font-weight: bold;
  color: #007bff;
}

.dashboard {
  flex-grow: 1;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.chart-container {
  margin-top: 30px;
  width: 100%;
  max-width: 700px;
  margin-bottom: 30px;
}

.info-cards {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card {
  background-color: #f4f4f4;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  flex: 1;
}

.card img {
  max-width: 60px;
  margin-bottom: 10px;
}

.details {
  width: 250px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.details img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.details ul {
  list-style-type: none;
  padding: 0;
}

.details li {
  font-size: 16px;
  margin-bottom: 10px;
}

.details span {
  font-weight: bold;
}

#patient-search {
  padding: 10px;
  font-size: 16px;
  width: 250px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}
